<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>ConsejosDeSalud - Tienda de Mascota Puppis</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<div class="container">
	
		
		<header th:replace="~{layouts/header :: header}"></header>
		
		<div class="row">
		<nav  th:replace="~{layouts/nav :: nav}"></nav>
		</div>
		
		
	<div class="row " >	
	<div class="col-xl-5">			  
	 <a  th:href="@{/consejo/nuevo}" class="btn btn-primary btn-consejos"  >Agregar Consejo</a>
	</div>
	</div>
	
	  <div class="col-md-12 col-xl-12" >
          <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4" >
            <div class="col" th:each="consejo : ${consejos}" >
              <div class="card">
				  <div class="card-header">
				    				<p> Fecha de Publicacion: <Strong th:text="${#temporals.format(consejo.fechaPublicacion,'dd-MM-yyyy')}"></Strong></p>
				  </div>
				  <div class="card-body">
				    <h2 class="card-title text-center"  th:text="${consejo.titulo}"></h2>
				    <p class="card-text" th:text="${consejo.parrafo}"></p>
				   <div class="contenedor-boton">
						<a th:href="@{/consejo/modificar/}+${consejo.id}" class="btn btn-warning btn-consejos" >Modificar</a>
						<a th:href="@{/consejo/eliminar/}+${consejo.id}" class="btn btn-danger btn-consejos">Eliminar</a>
						</div>
				  </div>
				</div>
            </div>
          </div>
        </div>
		
		<!-- 
		<section id="contenedor-consejos-salud" class="row">
				<h1>Consejos de Salud para las mascotas</h1>
			
			<article th:each="consejo : ${consejos}" >
				<h2 class="text-center" th:text="${consejo.titulo}"></h2>
				
				<p> Fecha de Publicacion: <Strong th:text="${#temporals.format(consejo.fechaPublicacion,'dd-MM-yyyy')}"></Strong></p>
				<p th:text="${consejo.parrafo}"> </p>
						<div class="contenedor-boton">
						<a th:href="@{/consejo/modificar/}+${consejo.id}" ><button type="button" class="btn btn-warning btn-consejos" >Modificar</button></a>
						<a th:href="@{/consejo/eliminar/}+${consejo.id}" ><button type="button" class="btn btn-danger btn-consejos" >Eliminar</button></a>
						</div>
				
			</article>
		</section>
		 -->

			
		

		<footer th:replace="~{layouts/footer :: footer}"></footer>
			
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>