<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>ConsejosDeSalud - Tienda de Mascota Puppis</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<div id="contenedor">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>

		<div class="contenedor-boton"><a th:href="@{/consejo/nuevo}" ><button type="button" class="boton-agregar" >Agregar Consejo</button></a></div>
		
		<section id="contenedor-consejos-salud">
			<h1>Consejos de Salud para las mascotas</h1>

			<article th:each="consejo : ${consejos}" >
				<h2 th:text="${consejo.titulo}"></h2>
				
				<p> Fecha de Publicacion: <Strong th:text="${#temporals.format(consejo.fechaPublicacion,'dd-MM-yyyy')}"></Strong></p>
				<p th:text="${consejo.parrafo}"> </p>
						<div class="contenedor-boton">
						<a th:href="@{/consejo/modificar/}+${consejo.id}" ><button type="button" class="boton-agregar" >Modificar</button></a>
						<a th:href="@{/consejo/eliminar/}+${consejo.id}" ><button type="button" class="boton-agregar" >Eliminar</button></a>
						</div>
				
			</article>


			
		</section>

		<footer th:replace="~{layouts/footer :: footer}"></footer>
			
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>