<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>ConsejosDeSalud.html</title>
<link rel="stylesheet" href="../static/css/header-footer.css">
<link rel="stylesheet" href="../static/css/consejos-salud.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">

</head>

<body>
	<div id="contenedor">
		<header class="#">
			<!-- <img src="../static/images/Logo-Puppis.jpg" alt="Logo-PUPPIS" class="#">-->
			<h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
			<p class="#">Envios a Domicilio sin Cargo.</p>
			<p>Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</p>
			<p>Consulte Zonas de Envios</p>
		</header>
		<nav id="Menu-principal">
			<ul class="enlases-menu">
				<li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
				<li><a href="Productos.html" title="Ir a Producto">Productos</a></li>
				<li><a href="consejoDeSalud.html" title="Ir a Consejo de Salud" style="color:#DC143C">Consejos
						de Salud</a></li>
				<li><a href="servicioDePaseos.html"
					title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
				<li><a href="sucursales.html" title="Ir a Sucursales">Sucursales</a></li>
				<li><a href="Contáctanos.html" title="Ir a Contacto">Contactanos</a></li>
			</ul>
		</nav>


		<section id="contenedor-consejos-salud">
			<h1>Consejos de Salud para las mascotas</h1>

			<article>
				<h2>Caída del pelo en los gatos y problemas con las bolas de
					pelo</h2>
				<img class="foto-gato-consejo-salud"
					alt="Gato que esta siendo cepillado"
					src="../static/images/cepillar-gato.jpg">
				<p> La caída del pelo en los gatos es muy habitual sobre todo en
					primavera. A continuación veremos varios consejos para evitar
					problemas con las bolas de pelo.</p>
				<p>
					Por lo general, la mayoría de los gatos pierde mucho pelo durante
					todo el año, pero en primavera, esta <strong>caída del
						pelo</strong> se acentúa. Por ello, sean gatos de <strong>pelo
						largo o gatos de pelo corto</strong>, es muy importante seguir ciertas
					pautas para evitar mayores problemas a consecuencia del pelo.
				</p>
				<p>
					Puede llegar a ocurrir, que si no <strong>cepillamos</strong> al
					gato diariamente, se le tenga que cortar el pelo para evitar que al
					lamerse el cuerpo se le creen bolas de pelo en el estómago. Además,
					también se le pueden formar nudos que provocarán mayores problemas
					a la mascota. Todo suele derivar en problemas intestinales ya que
					pueden llegar tragar tal cantidad de pelo que no son capaces de
					digerir ni de liberar.
				</p>
				<p>
					Para <strong>evitar problemas</strong> en los gatos por la caída
					del pelo, se recomiendan varias pautas concretas. Por un lado, es
					muy importante que el gato lleve una correcta alimentación. En el
					mercado existen alimentos específicos que previenen las bolas de
					pelo en el estómago. Estos alimentos favorecen la calidad del pelo
					del gato y la salud de la piel. Así, logramos que el gato desprenda
					menos pelo y a la vez que trague menos. Además, este tipo de pienso
					también es muy adecuado para un correcto tránsito y así eliminar el
					pelo y evitar la formación.
				</p>
				<p>Otra de las medidas que se deben tomar, y la más básica, es
					el cepillado diario del pelo. Los gatos, tienden a lamerse mucho el
					cuerpo, y a raíz de lamerse tanto el cuerpo, tragan demasiado pelo.
					Si nos acostumbramos a cepillarles el pelo una vez al día, todo el
					pelo que recojamos con el cepillo, no acabará en el estómago de la
					mascota.</p>
			</article>


			<article>
				<h2>Alimentación para perros con digestiones sensibles</h2>
				<img class="foto-gato-consejo-salud" alt="Perro Caminando"
					src="../static/images/alimentacion-digestion-sensible.jpg">

				<p>
					Algunos perros sufren digestiones <strong>más sensibles de
						lo normal</strong> y necesitan una alimentación especialmente formulada
					para ellos.
				</p>
				<p>
					Este tipo de <strong>alimentos</strong> suelen tener <strong>carne
						de cordero</strong> como primer ingrediente, ya que es muy <strong>fácil
						de digerir</strong>. Contiene, además, otros <strong>ingredientes
						especiales</strong> para las digestiones sensibles como:
				</p>
				<ul>
					<li><strong>Bentonita</strong>, una arcilla nutricional que
						actúa como si fuera una venda dentro del intestino protegiendo
						contra las toxinas y absorbiendo agua de manera que las heces
						salen más compactas.</li>
					<li>Una combinación especial de <strong>fibras</strong> que
						también ayudan a compactar las heces.
					</li>
					<li><strong>Huevo</strong>, muy fácil de digerir para que el
						intestino trabaje menos.</li>
				</ul>
			</article>
			<article>
				<h2>¿Cuántas veces al día debe comer un perro?</h2>
				<img class="foto-gato-consejo-salud"
					alt="Un perro que esta apunto de comer"
					src="../static/images/comer-dia-perro-portada.jpg">
				<p>La cantidad de comida de los perros es muy importante. ¡Es
					una de las claves de su salud! Nuestro amigo de cuatro patas nos
					pediría comida a todas horas, pero ¿cada cuánto tiempo deberíamos
					darle su ración? ¡Conoce todas las cantidades que necesita en cada
					etapa!</p>
				<p>La salud de tu perro depende tanto de la calidad como de la
					cantidad de su comida. Por eso, además de ofrecer a tu peludo un
					pienso personalizado, es importante repartir su alimentación diaria
					en el número correcto de tomas.</p>
				<h3>¿Cuántas veces al día come un perro según su edad?</h3>
				<p>La etapa vital de tu perro es determinante para saber cuántas
					tomas diarias de comida debes darle a tu peludo:</p>
				<h4>Cachorros</h4>
				<p>
					Hasta los 3-4 meses, se recomienda <strong>repartir la
						ración de comida diaria de los cachorros en 4 tomas al día</strong>. A
					partir de los 4 meses de edad el cachorro puede pasar a comer en 3
					tomas. <strong>Entre los 6 y los 12 estará preparado para
						comer 2 veces</strong> al día. Sin embargo, los cachorros de razas muy
					pequeñas, como el chihuahua, deben comer hasta 5 veces al día para
					mantener estables sus niveles de glucosa en sangre.
				</p>
				<h4>Perros adultos</h4>
				<p>Cuando un perro sano alcanza su etapa adulta, lo recomendable
					es dosificar su comida, como mínimo,en 2 raciones diarias
					("desayuno" y "cena"). A partir de aquí, iremos adaptando el número
					de tomas a su salud y condición física. Por ejemplo, si tu perro
					tiene que bajar de peso, tendrás que ofrecerle varias tomas
					pequeñas de comida a lo largo del día.</p>
				<h4>Perro senior</h4>
				<p>
					A medida que los perros envejecen, la capacidad de movimiento de su
					intestino se reduce y sus digestiones son cada vez más pesadas. Por
					eso, cuando un perro llega a su madurez, conviene <strong>aumentar
						el número de comidas a 3 tomas diarias para facilitar su digestión</strong>.
				</p>
				<h3>¿Qué otros factores influyen en la frecuencia de
					alimentación de un perro?</h3>
				<p>
					Además de la edad, hay otrosfactores que pueden modificar <strong>el
						número de tomas diarias de comida que necesita un perro</strong>:
				</p>
				<ul>
					<li><strong>Esterilización y castración</strong>: Los perros
						castrados o esterilizados tienen necesidades nutricionales
						distintas y son más propensos al aumento de peso. Por eso conviene
						adaptar su alimentación y <strong>aumentar el número de
							dosis a 3 raciones diarias</strong>.</li>
					<li><strong>Gestación</strong>: A medida que avanza el
						embarazo de una perra, es importante adaptar la frecuencia de su
						alimentación, ya que cada vez podrá ingerir menos cantidad de
						comida en cada toma.</li>
					<li><strong>Sensibilidad digestiva</strong>: Para facilitar la
						digestión de los perros con sensibilidad digestiva, se recomienda
						repartir su ración de comida diaria en 3 tomas al día.</li>
					<li><strong>Ansiedad</strong>: En perros con ansiedad conviene
						incrementar la frecuencia de alimentación hasta un máximo de 4
						raciones diarias.</li>
				</ul>
				<p>
					Además de todo esto, <strong>es importante respetar
						siempre las mismas horas para cada toma</strong>, ya que los perros son
					animales de costumbres. Y recuerda que estas recomendaciones son
					orientativas. Si tienes alguna duda, pide consejo a tu veterinario,
					él es quien mejor puede asesorarte.
				</p>
			</article>

		</section>

		<footer>
			<p>Portal de Mascotas - Av. General Belgrano 3915 - Teléfono
				(388) 4999999 S. S. de Jujuy República Argentina.</p>

			<p>Derechos Reservados 2023 - Tienda de Mascotas PUPPIS -
				Diseñado por Grupo 30 - Jujuy - Argentina</p>

		</footer>
	</div>

</body>

</html>