<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Contacto</title>
</head>
<body>
		<header class="#">
	        <img src="../static/images/Logo-Puppis.jpg" alt="Logo-PUPPIS" class="#">
	        <h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
	        <p class="#">Envios a Domicilio sin Cargo.</p>
	        <p>Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</p>
	        <p>Consulte Zonas de Envios</p>
	    </header>
	    <nav class="#">
	    	<ul>
	            <li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
                <li><a href="#" title="Ir a Producto">Productos</a></li>
                <li><a href="consejoDeSalud.html" title="Ir a Consejo de Salud">Consejos de Salud</a></li>
            	<li><a href="#" title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
                <li><a href="#" title="Ir a Sucursales">Sucursales</a></li>
                <li><a href="Contáctanos.html" title="Ir a Contacto">Contactanos</a></li>
		    </ul>
	    </nav>

		
		<form >
		<fieldset style="width:350px" >
		
		<h3>Contáctenos</h3>
		<p>3915 Av. General Belgrano, 388-4999999</p>
		<p>Lunes a Viernes: 9:00 a.m. a 8:00 p.m.,</p>
		<p>Sábado a Domingo: 9:00 a.m. a 12:30 p.m.</p>
		<a HREF="index.html">grupo30@gmail.com</a>
		
		 <p><li><a HREF="index.html">Facebook</a></li></p>
		<p><li><a HREF="index.html">Instagram</a></li></p>
		<p><li><a HREF="index.html">Twitter</a></p>
		<hr>
			<p><label for="nombre">Nombre <input type="text" id="nombre" placeholder="Ingrese su Nombre"></label></p>
			<p><label for="email">Email <input type="email" id="email" placeholder="Ingrese un email válido"></label></p>	
			<p><label for="ciudad">Ciudad <input type="text" id="ciudad" placeholder="Ingrese su ciudad"></label></p>
			<p><label for="mensaje">Mensaje <textarea id="mensaje"  style="height:80px; width:240px"></textarea></label></p>
			<button type="submit">Enviar</button>
		
		</fieldset>
		</form>

	<footer>
		<p>2023. Portal de Mascotas - Av. General Belgrano 3915 -
			Teléfono (388) 4999999 S. S. de Jujuy República Argentina.</p>
			
	    		<p>Derechos Reservados 2023 - Tienda de Mascotas PUPPIS - Disenado por Grupo 30 - Jujuy - Argentina</p>
	    	
	</footer>
	
		
</body>
</html>