<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Empleados - Tienda Mascota</title>
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<a th:href="@{/empleado/gestion}" class="btn btn-primary">Volver Gestion Servicio</a>

		<div class="container">
			<div class="row">
				<h2 class="my-4">Empleado</h2>
			</div>
			<div>
				<div class="row mb-4">
					<div class="col-lg-e">
						<a th:href="@{/empleado/nuevo}"
							class="btn btn-success fw-bolder py-3">Nuevo Empleado</a>
					</div>
				</div>
			</div>
			<br>


			<div class="table-responsive">

				<!--Tabla de Empleado-->
				<table
					class="table-sm table table-striped table-bordered table-hover">
					<thead class="bg-secondary text-white text-center">
						<tr>
							<th>Codigo</th>
							<th>Nombres</th>
							<th>Apellido</th>
							<th>Dni</th>
							<th>Fecha Nacimiento</th>
							<th>Dirección</th>
							<th>Teléfono</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empleado: ${empleados}">
							<td th:text="${empleado.id}"></td>
							<td th:text="${empleado.nombres}"></td>
							<td th:text="${empleado.apellido}"></td>
							<td th:text="${empleado.dni}"></td>
							<td	th:text="${#temporals.format(empleado.fechaNacimiento, 'yyyy-MM-dd')}"></td>
							<td th:text="${empleado.direccion}"></td>
							<td th:text="${empleado.telefono}"></td>
														
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>

	<!--Archivo javascript referencia -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>