<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Configuracio para el uso de bootstrap.min.css-->
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Gestión Servicios</title>
	</head>
	<body class="container">
		<!-- Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		
		<div class="p-5 bg-light rounded-shadom text-center mb-5 col-md-8 col-12">
		        	<h1 class="text-primary display-5 text-center fw-bolder">Bienvenido a Servicios de Paseos</h1>
		        	<p class="fw-bold mt-3 text-center">
		        		Aqui podra gestionar sus Servicios de Paseos!
		        	</p>
		        	<hr>
		        	<p class="text-center">
		        		Consulte, cree, actualice o elimine sus horarios de Paseos de forma facil y segura. 
		        	</p>
		        </div>
	        	<div class="text-center">
	        	
	        		<a th:href="@{/servicio/nuevo}">
	        		<button type="button" 
	        				class="btn btn-success fw-bolder py-3">Nuevo Servicio</button></a>
	        	</div>
	        	
			<section class="row justify-content-center bg-light py-4">
				<div class="card col-sm-7 p-3 bg-info">
					<div class="mb-2">
					<!-- Card y tabla  para cargar nuevo servicio -->
						<div class="card">
		                <div class="card-body">
		                  <h4 class="card-title">Basic Table</h4>
		                  <p class="card-description">
		                    Basic table with card
		                  </p>
		                  <div class="table-responsive">
		                    <table class="table">
		                      <thead>
		                        <tr>
		                          <th>Id Servicio</th>
		                          <th>Inicio Servicio</th>
		                          <th>Fin Servicio</th>
		                          <th>Nombres</th>
		                          <th>Apellido</th>
		                          <th>Día</th>
		                          <th>Acciones</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                         <tr th:each="servicio : ${servicios}">
						            <td th:text="${servicio.id}" class=""></td>
						            <td th:text="${#temporals.format(servicio.startTime, 'HH:mm')}" class=""></td>
						            <td th:text="${#temporals.format(servicio.finishTime, 'HH:mm')}" class=""></td>
						            <td th:text="${servicio.firstName}" class="py-1"></td>
						            <td th:text="${servicio.lastName}" class="py-1"></td>
						            <td th:text="${servicio.day}" class="py-1"></td>
						            <td  class=""><a th:href="@{/servicio/modificar/}+${servicio.id}"><button type="button" class="btn btn-primary py-1" >Editar</button></a><br/>
						                	<a th:href="@{/servicio/eliminar/}+${servicio.id}"><button type="button" class="btn btn-danger py-1" >Eliminar</button></a>
						            </td>
		                       </tbody>
		                    </table>
		                  </div>
		                </div>
		              </div>	
					</div>
				</div>
			</section>	
			
					
		<!-- Uso del fragmento footer -->		    		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<!-- Configuracion para usar bootstrap js -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>