<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Configuracio para el uso de bootstrap.min.css-->
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<!-- Configuracio para el uso de style.css personalizados-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Gestión de Servicio</title>
</head>
<body>
	<div class="container">
		<!-- Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>

		<a th:href="@{/gestion}" class="btn btn-lg btn-primary fw-bolder py-1 mb-2">Volver a menu Principal</a>
		
		<div class="card border border-success">

			<div class="card-body ">
				<h2 class="card-title text-center">Gestión de Servicios</h2>
				<div class="row justify-content-md-center">
					<div class="container text-center">
						<div class="row align-items-center">
							<div
								class="col d-grid gap-2 d-md-flex justify-content-md-start text-center py-2">
								<a th:href="@{/empleado/gestion}">
									<button type="button"
										class="btn btn-lg btn-success fw-bolder py-2">Empleados</button>
								</a>
							</div>
							<div
								class=" col d-grid gap-2 d-md-flex justify-content-md-start text-center py-2">
								<a th:href="@{/servicio/nuevo}">
									<button type="button"
										class="btn btn-lg btn-success fw-bolder py-2">Nuevo
										Servicio</button>
								</a>
							</div>
							<div class="col">
								<div class="btn-group">
									<button type="button" class="btn btn-danger dropdown-toggle"
										data-bs-toggle="dropdown" aria-expanded="false">Filtrar
										Servicio por el día</button>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item"
											th:each="servicio : ${servicios}" th:text="${servicio.dia}"
											th:href="@{/servicio/buscar/}+${servicio.dia}"></a></li>

										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item"
											th:href="@{/servicio/buscar/}+'0'">Todas los Servicios</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table
							class="table table-bordered table-striped border border-secondary">
							<thead>
								<tr class="text-center">
									<th scope="col">Codigo</th>
									<th scope="col">Horario de Inicio de Servicio</th>
									<th scope="col">Horario de Fin de Servicio</th>
									<th scope="col">Empleado</th>
									<th scope="col">Día</th>
									<th scope="col">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="servicio : ${servicios}">
									<td th:text="${servicio.id}"></td>
									<td
										th:text="${#temporals.format(servicio.inicioHorario, 'HH:mm')}"></td>
									<td
										th:text="${#temporals.format(servicio.finHorario, 'HH:mm')}"></td>
									<td
										th:text="${servicio.empleado.nombres}+' '+${servicio.empleado.apellido}"
										class="py-1"></td>
									<td th:text="${servicio.dia}" class="py-1"></td>
									<td><a class="btn btn-primary py-1"
										th:href="@{/servicio/modificar}+${servicio.id}">Editar</a><br />
										<a class="btn btn-danger py-1"
										th:href="@{/eliminar}+${servicio.id}">Eliminar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Uso del fragmento footer -->
				<footer th:replace="~{layouts/footer :: footer}"></footer>
			</div>
		</div>
	</div>
	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>