<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tienda de Mascotas - PUPPIS</title>
	</head>
	<body>
		<header class="#">
	        <img src="#" class="#">
	        <h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
	        <p class="#">Envios a Domicilio sin Cargo.</p>
	        <p>Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</p>
	        <p>Consulte Zonas de Envios</p>
	    </header>
	    <nav class="#">
	    	<ul>
	            <li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
                <li><a href="#" title="Ir a Producto">Productos</a></li>
                <li><a href="#" title="Ir a Consejo de Salud">Consejos de Salud</a></li>
            	<li><a href="#" title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
                <li><a href="#" title="Ir a Sucursales">Sucursales</a></li>
                <li><a href="#" title="Ir a Contacto">Contactanos</a></li>
		    </ul>
	    </nav>
	    <main>
	    	<section>
	    		<article class=Titulo-articulo>
	    			<h2>ARTICULOS DESTACADOS</h2>
		    		<article class="card">
	                    <h3>OFERTAS DEL MES</h3>
	                    <img src="" class="imagen">
	                    <p>Lorem ipsum dolor sit amet consectetur. Lorem</p>
	                </article>
	                <article class="card">
	                    <h3>LA MEJOR MASCOTA DEL MES</h3>
	                    <img src="" class="imagen">
	                    <p>Lorem ipsum dolor sit amet consectetur</p> 
	                </article>           
	                <article class="card">
	                    <h3>TRABAJAMOS CON LAS MEJORES MARCAS</h3>
	                    <img src="" class="imagen">
	                    <p>Lorem ipsum dolor sit amet consectetur</p>
	                </article> 
                </article>           
	    	</section>
	    	<aside>
	    		<nav>
				    <h2>Sitios relacionados</h2>
				    <ul>
				      <li><a href="https://www.expertoanimal.com/">Experto Animal</a></li>
				      <li><a href="https://mascotas.fit/">Macotas Fit</a></li>
				      <li><a href="https://adiestrarte.com.ar/">Adiestramiento Canino</a></li>
				     </ul>
				 </nav>
	    	</aside>
	    	<footer>
	    		<p>&copy 2023 - Tienda de Mascotas PUPPIS - Disenado por Grupo 30 - Jujuy - Argentina</p>
	    	</footer>
	    </main>
	</body>
</html>