<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
		<meta charset="UTF-8">
		<!--Especificacion de viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>Sucursales - Tienda de Mascota Puppis</title>
		<!-- Bootstrap referencia  -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!-- Css referencia-->
		<link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
	<div id="contenedor">
	<!--Uso del fragmento header -->
	<header th:replace="~{layouts/header :: header}"></header>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h3 th:text="${edicion}?'Modificar Sucursal':'Nueva Sucursal'" class="text-center mb-3"></h3>
					<div class="card-body">
						<!--Formulario de alta/edicion sucursales -->
						<form  th:action="${edicion}?@{/sucursal/modificar/}+${sucursal.id}:@{/sucursal/guardar}" th:object="${sucursal}" method="post">
							<div class="form-group">
								<label for="nombre" class="form-label">Nombre : </label>
								<input th:field="*{nombre}" class="form-control" type="text" name="nombres" id="nombres" placeholder="Nombre" required>
								<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
							</div>
		
							<div class="form-group">
								<label for="nombre" class="form-label">Direccion : </label>
								<input th:field="*{direccion}" class="form-control" type="text" name="mail" id="mail" placeholder="Direccion" required>
								<div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
							</div>
							
							<div class="form-group">
               					 <label for="provinciaId" class="form-label">Provincia : </label>
               					 <select th:field="*{provincia.id}" class="form-control" id="provincia">
               					 	<option th:each="provincia : ${provincias}" th:value="${provincia.id}"
               					 	th:text="${provincia.nombre}" />
               					 </select>
               					 <div class=text-danger th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
							</div>

							<div class="form-group">
								<label for="nombre" class="form-label">Fecha Inicio : </label>
								<input th:field="*{fechaInicio}" class="form-control" type="date" name="fecha" id="fecha" placeholder="fecha" required>
								<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>
							</div>
							

																					
							<div class="form-group">
								<label for="nombre" class="form-label">Email : </label>
								<input th:field="*{email}" class="form-control" type="email" name="email" id="email" placeholder="Email" required>
								<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							</div>
							
							<div class="form-group">
								<label for="nombre" class="form-label">Telefono : </label>
								<input th:field="*{telefono}" class="form-control" type="text" name="telefono" id="telefono" placeholder="Telefono" required>
								<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
							</div>	
							<br>
							<div class="box-footer">
								<button th:value="${edicio}?'Modicicar':'Guardar'" class="btn btn-success">Guardar</button>
								<a class="btn btn-primary btn-consejos" th:href="@{/sucursal/gestion}" >Volver</a>
							</div>						
						</form>
					</div>
					
				</div>
			</div>
		</div>
	<!--Uso del fragmento footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<!--Archivo javascript referencia -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>