<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Agregar Servicios</title>
	</head>
	<body>
		<div id="contenedor">
			<header th:replace="~{layouts/header :: header}"></header>
			
				<h1 class="cont-boton"> Nuestros Horarios</h1>
	        	<section class="form-register">
					<form th:object="${servicio}" th:action="${edicion}?@{/servicio/modificar/}+${servicio.id}:@{/servicio/guardar}"
						method="post">
						<h3 th:text="${edicion}?'Modificar Servicio':'Agregar Nuevo Servicio'"></h3>
							
						<input th:field="*{startTime}" class="controls" type="text"
						name="startTime-from" id="startTime-form" placeholder="Agregar Inicio Servicio">
						
						<input th:field="*{finishTime}" class="controls" type="text"
						name="finishTime-from" id="finishTime-form" placeholder="Agregar Fin Servicio">
						
						<input th:field="*{fullName}" class="controls" type="text"
						name="fullName-from" id="fullName-form" placeholder="Agregar Nombre Completo">
						
						<input th:field="*{day}" class="controls" type="text"
						name="day-from" id="day-form" placeholder="Agregar Día">
						<button type="submit" class="botons" th:text="${edicion}?'Modificar':'Agregar'" ></button>
					</form>
				</section>
	    		
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
	</body>
</html>