<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<title>Nuevo Producto - Tienda de Mascota Puppis</title>
	</head>
	<body>
		<div id="contenedor">
		
			<header th:replace="~{layouts/header :: header}"></header>

			<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>
			
			<section class="form-register">
				<form th:action="${edicion}?@{/productos/modificar/}+${producto.id}:@{/productos/guardar}" th:object="${producto}" method="post">
					<label for="name">Nombre del Producto</label>
					<input type="text" id="nombreProducto" name="nombre" required th:field="*{nombreProducto}" class="controls">
					<label for="categoria">Ingrese Categoria</label>
					<select id="categoriaProducto" name="categoria" th:field="*{categoriaProducto}" class="controls-select">
						<option value="Alimento">Alimento</option>
						<option value="Juguete">Juguete</option>
						<option value="Vestimenta">Vestimenta</option>
						<option value="Cuidado">Cuidado</option>
					</select>
					<label for="precio">Precio</label>
					<input type="number" id="precioProducto" name="precio" required th:field="*{precioProducto}" class="controls">
					<label for="descuento">Descuento</label>
					<input type="number" id="descuentoProducto" name="descuento" required placeholder="Ingrese descuento (0-50)" min="0" max="50" th:field="*{descuentoProducto}" class="controls">
					
					<button type="submit" class="botons" th:text="${edicion}?'Modificar':'Agregar'" ></button>
				</form>
			</section>
			
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
	</body>
</html>