<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Agregar Servicios</title>
	</head>
	<body>
		<div id="contenedor">
			<header th:replace="~{layouts/header :: header}"></header>
			
				<h2>Add Services</h2>
	        	<section class="form-register">
					<form th:object="${servicio}" th:action="${edicion}?@{/servicio/modificar/}+${servicio.id}:@{/servicio/guardar}"
						method="post">
						<h3 th:text="${edicion}?'Modificar Servicio':'Agregar Servicio'"></h3>
						<input th:field="*{id}" class="controls" type="text"
						name="id-from" id="id-form" placeholder="add id">
						
						<input th:field="*{fullTime}" class="controls" type="text"
						name="fullTime-from" id="fullTime-form" placeholder="add full Time">
						
						<input th:field="*{fullName}" class="controls" type="text"
						name="fullName-from" id="fullName-form" placeholder="add full Name">
						
						<input th:field="*{day}" class="controls" type="text"
						name="day-from" id="day-form" placeholder="add day">
						<button type="submit" class="botons" th:text="${edicion}?'Modificar':'Agregar'" >Add New Data</button>
					</form>
				</section>
	    		
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
	</body>
</html>