<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
		<meta charset="UTF-8">
		<!--Especificacion de viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>Sucursales - Tienda de Mascota Puppis</title>
		<!-- Bootstrap referencia  -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!-- Css referencia-->
		<link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
	<div id="contenedor">
	<!--Uso del fragmento header -->
	<header th:replace="~{layouts/header :: header}"></header>

		<!--Uso del fragmento nav -->
		

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h3 th:text="${edicion}?'Modificar Provincia':'Nueva Provincia'" class="text-center mb-3"></h3>
					<div class="card-body">
						<!--Formulario de alta/edicion provincias -->
						<form  th:action="${edicion}?@{/provincia/modificar/}+${provincia.id}:@{/provincia/guardar}" th:object="${provincia}" method="post">
							<div class="form-group">
								<label for="nombre" class="form-label">Nombre : </label>
								<input th:field="*{nombre}" class="form-control" type="text" name="nombres" id="nombres" placeholder="Nombre" required>
								<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
							</div>
		
							<div class="form-group">
								<label for="nombre" class="form-label">Codigo Postal : </label>
								<input th:field="*{codigoPostal}" class="form-control" type="text" name="mail" id="mail" placeholder="CP" required>
								<div class="text-danger" th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></div>
							</div>
							

							<div class="form-group">
								<label for="nombre" class="form-label">Fecha Creacion : </label>
								<input th:field="*{fechaCreacion}" class="form-control" type="date" name="fecha" id="fecha" placeholder="fecha" required>
								<div class="text-danger" th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}"></div>
							</div>
							<br>
							<div class="box-footer">
							<a class="btn btn-primary btn-consejos" th:href="@{/provincia/listado}" >Volver</a>
								<button th:value="${edicio}?'Modicicar':'Guardar'" class="btn btn-success">Guardar</button>
								<a class="btn btn-primary btn-consejos" th:href="@{/provincia/listado}" >Volver</a>
							</div>						
						</form>
					</div>
					
				</div>
			</div>
		</div>
	<!--Uso del fragmento footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<!--Archivo javascript referencia -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>