<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Configuracio para el uso de bootstrap.min.css-->
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Nuevos Servicios</title>
</head>
<body class="container">
	<!-- Uso del fragmento header -->
	<header th:replace="~{layouts/header :: header}"></header>

	<section class="row justify-content-center bg-light py-4">
		<div class="card col-sm-7 p-3 bg-info">
			<div class="mb-2">
				<!-- Formulario para cargar nuevo servicio -->
				<form
					th:action="${edicion}?@{/servicio/modificar/}+${servicio.id}:@{/servicio/guardar}"
					th:object="${servicio}" method="post" class="mt-3">
					<div class="mb-2 row">
						<label for="inicioHorario" class="col-sm-12 col-lg-3 col-form-label">Ingrese Inicio de Servicio:</label>
						<div class="col-sm-12 col-lg-9">
							<input th:field="*{inicioHorario}" class="form-control" type="time" name="time-form" id="inicioHorario">
							<div class="text-danger" th:if="${#fields.hasErrors('inicioHorario')}" th:errors="*{inicioHorario}"></div>
						</div>
					</div>

					<div class="mb-2 row">
						<label for="finHorario" class="col-sm-12 col-lg-3 col-form-label">Ingrese Fin de Servicio:</label>
						<div class="col-sm-12 col-lg-9">
							<input th:field="*{finHorario}" class="form-control" type="time" name="time-form" id="finHorario">
							<div class="text-danger" th:if="${#fields.hasErrors('finHorario')}"	th:errors="*{finHorario}"></div>
						</div>
					</div>

					<div class="form-group">
               					 <label for="empleadoId" class="form-label">Seleccione Empleado : </label>
               					 <select th:field="*{empleado.id}" class="form-control" id="empleadoId">
               					 	<option th:each="empleado : ${empleados}" th:value="${empleado.id}"
               					 	th:text="${empleado.nombres}+'  '+${empleado.apellido}" />
               					 </select>
               					 <div class=text-danger th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}"></div>
							</div>
									
					<div class="mb-2 row">
						<label for="dia" class="col-sm-12 col-lg-3 col-form-label">Ingrese el Día:</label>
						<div class="col-sm-12 col-lg-9">
							<select th:field="*{dia}" class="form-select" id="dia">
								<option value=""selected >Seleccione una opción...</option>
								<option value="Lunes">Lunes</option>
								<option value="Martes">Martes</option>
								<option value="Miercoles">Miercoles</option>
								<option value="Jueves">Jueves</option>
								<option value="Viernes">Viernes</option>
								<option value="Sabado">Sabado</option>
							</select>
							<div class="text-danger" th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}"></div>
						</div>
					</div>

					<div class="mt-3  row justify-content-center">
						<div class="col-sm-12 col-md-8 col-xl-9">
							<a href="/servicio/gestion"
								class="btn btn-danger w-100 mb-1 fw-bolder">Cancelar</a>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary w-100 fw-bolder"
								data-bs-toggle="modal" data-bs-target="#modalSaveServicio">Registrar Servicio</button>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="modalSaveServicio" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Ventana de Confirmación</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">¿Confirma la operación?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary"
										th:text="${edicion}?'Modificar':'Confirmar'"></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- Uso del fragmento footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>