<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/header-footer.css">
	
	<link rel="stylesheet" href="../static/css/producto.css">
	<script src="https://kit.fontawesome.com/20b79bacc0.js"crossorigin="anonymous"></script>
	<title>Productos</title>
</head>
<body>
	<div id="contenedor">

		<header class="#">
			<!-- <img src="../static/images/Logo-Puppis.jpg" alt="Logo-PUPPIS" class="#">-->
			<h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
			<p class="#">Envios a Domicilio sin Cargo.</p>
			<p>Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</p>
			<p>Consulte Zonas de Envios</p>
		</header>
		<nav id="Menu-principal">
			<ul class="enlases-menu">
				<li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
				<li><a href="Productos.html" title="Ir a Producto">Productos</a></li>
				<li><a href="consejoDeSalud.html" title="Ir a Consejo de Salud">Consejos
						de Salud</a></li>
				<li><a href="servicioDePaseos.html"
					title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
				<li><a href="sucursales.html" title="Ir a Sucursales">Sucursales</a></li>
				<li><a href="Contáctanos.html" title="Ir a Contacto">Contactanos</a></li>
			</ul>
		</nav>
		
		
		<section class="contenedor-section">
            <div class="tarjeta">
                <div class="cuerpo">
                    <img src="../static/images/Producto1.png" alt="imagen de producto">
                    <h1>VitalCan Premium Perro 20kg</h1>
                    <p>$ 6,500.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto2.png" alt="imagen de producto">
                <h1>Raza Perro Adulto Carne 21 Kg.</h1>
                <p>$ 5,390.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto3.png" alt="imagen de producto">
                <h1>HOP GATITO 7.5Kg</h1>
                <p>$ 3,200.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto4.png" alt="imagen de producto">
                <h1>Lata Agility Gato Sabor Carne Vacuna 340gr.</h1>
                <p>$ 500</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto5.jpg" alt="imagen de producto">
                <h1>Comedero Doble Cuadrado</h1>
                <p>$ 290.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto6.jpg" alt="imagen de producto">
                <h1>Comedero Circular Chico</h1>
                <p>$ 110.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto7.png" alt="imagen de producto">
                <h1>Kit Sanitario Grande</h1>
                <p>$ 1,100.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="../static/images/Producto8.png" alt="imagen de producto">
                <h1>Hueso Suelto 4/5</h1>
                <p>$ 140.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
        </section>

		<footer>
			<p>Portal de Mascotas - Av. General Belgrano 3915 - Teléfono
				(388) 4999999 S. S. de Jujuy República Argentina.</p>

			<p>Derechos Reservados 2023 - Tienda de Mascotas PUPPIS -
				Diseñado por Grupo 30 - Jujuy - Argentina</p>

		</footer>
	</div>
</body>
</html>