<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://kit.fontawesome.com/20b79bacc0.js"crossorigin="anonymous"></script>
	<title>Productos - Tienda de Mascota Puppis</title>
</head>
<body>
	<div id="contenedor">

						<header th:replace="layouts/header :: header"></header>

						<nav id="Menu-principal" th:replace="layouts/nav :: nav"></nav>

		
		
		<section class="contenedor-section">
            <div class="tarjeta">
                <div class="cuerpo">
                    <img src="/images/Producto1.png" alt="imagen de producto">
                    <h1>VitalCan Premium Perro 20kg</h1>
                    <p>$ 6,500.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto2.png" alt="imagen de producto">
                <h1>Raza Perro Adulto Carne 21 Kg.</h1>
                <p>$ 5,390.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto3.png" alt="imagen de producto">
                <h1>HOP GATITO 7.5Kg</h1>
                <p>$ 3,200.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto4.png" alt="imagen de producto">
                <h1>Lata Agility Gato Sabor Carne Vacuna 340gr.</h1>
                <p>$ 500</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto5.jpg" alt="imagen de producto">
                <h1>Comedero Doble Cuadrado</h1>
                <p>$ 290.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto6.jpg" alt="imagen de producto">
                <h1>Comedero Circular Chico</h1>
                <p>$ 110.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto7.png" alt="imagen de producto">
                <h1>Kit Sanitario Grande</h1>
                <p>$ 1,100.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            <div class="tarjeta">
                <div class="cuerpo">
                <img src="/images/Producto8.png" alt="imagen de producto">
                <h1>Hueso Suelto 4/5</h1>
                <p>$ 140.00</p>
                </div>
                <button>Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
        </section>

			    		<footer th:replace="layouts/footer :: footer"></footer>

	</div>
</body>
</html>