<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/20b79bacc0.js"
	crossorigin="anonymous"></script>
<title>Productos - Tienda de Mascota Puppis</title>
</head>
<body>
	<div id="contenedor">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>



		<div class="contenedor-boton"><a th:href="@{/productos/nuevo}" ><button type="button" class="boton-agregar" >Agregar Producto</button></a></div>	
		<section class="contenedor-section">
		
            <div th:each="produc: ${productos}" class="tarjeta">
                <div class="cuerpo">
                    <img src="/images/Producto1.png" alt="imagen de producto">
                    <h1 th:text="${produc.nombreProducto}"></h1>
                    <h6>cod. <span th:text=${produc.id}></span></h6>
                    <p >$ <span th:text="${produc.precioProducto}"></span></p>
                    <p >con descuento $ <span th:text="${produc.calcularDescuento()}"></span></p>
                </div>
                <div class="contenedor-boton">
	  				<a th:href="@{/productos/modificar/}+${produc.id}"><button type="button" class="boton-opcion" >Modificar</button></a>
					<a th:href="@{/productos/eliminar/}+${produc.id}"><button type="button" class="boton-opcion" >Eliminar</button></a>
				</div>
                <button class="boton-compra">Comprar
                    <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
                </button>
            </div>
            
        </section>

		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
</body>
</html>