<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/20b79bacc0.js"
	crossorigin="anonymous"></script>
<title>Productos - Tienda de Mascota</title>
</head>
<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- Uso del fragmento nav-->
		<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>

		<div class="row gy-3 my-3">

			<div class="col-sm-6 col-md-4 col-lg-3"
				th:each="produc: ${productos}">
				<div class="card">
					<img src="/images/Producto1.png" alt="imagen de producto">
					<div class="card-body">
						<h4 th:text="${produc.nombreProducto}" class="card-title"></h4>
						<h6>cod. <span th:text=${produc.id}></span></h6>
						<p class="card-text">$ <span th:text="${produc.precioProducto}"></span></p>
						<p>con descuento $ <span th:text="${produc.calcularDescuento()}"></span></p>
						<div class="d-grid gap-2">
							<button type="button" class="btn btn-success">Comprar<i class="fa-sharp fa-solid fa-cart-shopping fa-lg"
									style="color: #000000;"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>