<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<!--Especificacion de viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>Sucursales - Tienda de Mascota Puppis</title>
		<!-- Bootstrap referencia  -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!-- Css referencia-->
		<link th:rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<!--Uso del fragmento nav -->
		<div class="container">
			<div class="row">
				<h2 class="my-4">Lista Provincias</h2>
			</div>
			<div>
				<div class="row mb-4">
					<div class="col-lg-e">
						<a th:href="@{/provincia/nuevo}" class="btn btn-success fw-bolder py-3">Nueva Provincia</a>
						<a  th:href="@{/sucursal/gestion}" class="btn btn-primary btn-consejos"  >Volver a Listas Sucursales</a>
					</div>
				</div>
			</div>
				<br>

			
			<div class="table-responsive">

				<!--Tabla de sucursales-->
				<table class="table-sm table table-striped table-bordered table-hover">
					<thead class="bg-secondary text-white">
						<tr>
							<th>Codigo</th>
							<th>Nombre</th>
							<th>Codigo Postal</th>
							<th>Fecha Creacion</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="provincia: ${provincias}">
							<td th:text="${provincia.id}"></td>
							<td th:text="${provincia.nombre}"></td>
							<td th:text="${provincia.codigoPostal}"></td>
							<td th:text="${#temporals.format(provincia.fechaCreacion, 'dd/MM/yyyy')}"></td>
							<td>
								<a class="btn btn-info btn-sm"  th:href="@{/provincia/modificar/}+${provincia.id}">Modificar</a>
								<a class="btn btn-danger btn-sm" th:href="@{/provincia/eliminar/}+${provincia.id}">Eliminar</a>
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	
		<!--Archivo javascript referencia -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>