<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tienda de Mascotas - PUPPIS</title>
	</head>
	<body>
		<header class="#">
	        <img src="../static/images/Logo-Puppis.jpg" alt="Logo-PUPPIS" class="#">
	        <h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
	        <p class="#">Envios a Domicilio sin Cargo.</p>
	        <p>Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</p>
	        <p>Consulte Zonas de Envios</p>
		</header>
		<nav class="#">
	    	<ul>
	            <li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
                <li><a href="#" title="Ir a Producto">Productos</a></li>
                <li><a href="#" title="Ir a Consejo de Salud">Consejos de Salud</a></li>
            	<li><a href="#" title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
                <li><a href="#" title="Ir a Sucursales">Sucursales</a></li>
                <li><a href="#" title="Ir a Contacto">Contactanos</a></li>
		    </ul>
		 </nav>
		<main>
			<h1>NUESTROS SERVICIOS DE PASEOS</h1>
			<img src="../static/images/paseo.jpg" alt="Paseos" class="#">
			<table border="1">
				<thead>
					<tr>
						<th>Día</th>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>Sabado</th>
						<th>Domingo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Horario</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12</td>
					</tr>
					<tr>
						<td>Paseador</td>
						<td>Maria Dominguez</td>
						<td>Lucas Rodriguez</td>
						<td>Facundo Arias</td>
						<td>Lorena Martin</td>
						<td>Alicia Martinez</td>
						<td>Cristina Galian</td>
						<td>Ana Vega</td>
					</tr>	
				</tbody>
			</table>
		</main>
		<footer>
			<p>&copy 2023 - Tienda de Mascotas PUPPIS - Disenado por Grupo 30 - Jujuy - Argentina</p>
		</footer>
		
	</body>
</html>	