<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!--Configuracion para usar bootstrap.min.css -->
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<title>Servicios- Tienda de Mascota Puppis</title>
	</head>
	<body class="container">
			<!--Uso del fragmento header -->
			<header th:replace="~{layouts/header :: header}"></header>
			<!-- Uso del fragmento nav-->
			<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>
			<br/>
			<!-- -->
	         <div class="card border border-black">
			        <div class="card-body">
				       <div class="text-center bg-warning pt-2 mt-2">
				     		<h2 class="fw-bold">Nuestros de Servicios</h2>
				   	   </div>
				    	   <!-- Tabla de Servicios -->
					        <table class="table table-bordered table-striped">
					            <thead class="bg-secondary text-white">
						            <tr class="text-center">
						            	<th scope="col">Horario de Inicio de Servicio</th>
						                <th scope="col">Horario de Fin de Servicio</th>
						                <th scope="col">Empleado</th>
						                <th scope="col">Día</th>
						               			                
						             </tr>
					             </thead>
					             <tbody class="table-group-divider">
						            <tr class="text-center" th:each="servicio : ${servicios}">
						            	<td th:text="${#temporals.format(servicio.inicioHorario, 'HH:mm')}" class=""></td>
						                <td th:text="${#temporals.format(servicio.finHorario, 'HH:mm')}" class=""></td>
						                <td th:text="${servicio.empleado.nombres}+' '+${servicio.empleado.apellido}" class="py-1"></td>
						                <td th:text="${servicio.dia}" class="py-1"></td>
						                <!--  <td  class=""><a th:href="@{/servicio/modificar/}+${servicio.id}"><button type="button" class="btn btn-primary py-1" >Editar</button></a><br/>
						                	<a th:href="@{/servicio/eliminar/}+${servicio.id}"><button type="button" class="btn btn-danger py-1" >Eliminar</button></a>
						                </td>-->
						                
					            </tr>
					         </tbody>
				        </table>
	       			</div>
	       				<!-- Uso del fragmento footer -->
				
	       		</div>
	       <footer th:replace="~{layouts/footer :: footer}"></footer>	   
		<!-- Configuracion para usar bootstrap js -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
