<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Servicio de Paseos - Tienda de Mascota Puppis</title>
</head>

<body>
	<div id="contenedor">
		<header class="#">
			<!-- <img src="../static/images/Logo-Puppis.jpg" alt="Logo-PUPPIS" class="#">-->
			<h1 class="#">TIENDA DE MASCOTAS PUPPIS</h1>
			<p class="#">Envios a Domicilio sin Cargo.</br>
			Tanto de Alimentos para Mascotas como Accesorios y Farmacía.</br>
			Consulte Zonas de Envios</p>
		</header>
		<nav id="Menu-principal">
			<ul>
				<li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
				<li><a href="Productos.html" title="Ir a Producto">Productos</a></li>
				<li><a href="consejoDeSalud.html" title="Ir a Consejo de Salud">Consejos
						de Salud</a></li>
				<li><a href="servicioDePaseos.html"
					title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
				<li><a href="sucursales.html" title="Ir a Sucursales">Sucursales</a></li>
				<li><a href="Contáctanos.html" title="Ir a Contacto">Contactanos</a></li>
			</ul>
		</nav>
		<main class="container-paseos content bg-success">
			<div class="titulo-paseo bg-secondary mt-20">
				<h2 class="">HORARIOS DE SERVICIOS</h2>
			</div>
			<div class="" >
				<table class="tabla">
					<thead class="cabecera-tabla bg-info h-50 border-td-th">
						<tr class="">
							<th class="fila">Día</th>
							<th class="border-td-th">Lunes</th>
							<th class="border-td-th">Martes</th>
							<th class="border-td-th">Miercoles</th>
							<th class="border-td-th">Jueves</th>
							<th class="border-td-th">Viernes</th>
							<th class="border-td-th">Sabado</th>
							<th class="border-td-th">Domingo</th>
						</tr>
					</thead>
					<tbody class="body-tabla bg-success">
						<tr class="">
							<td class="fila">Horario</td>
							<td class="border-td-th h-50"> 7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">7:30 a 8:30<br>14:30 a 15:30</td>
							<td class="border-td-th h-50">9 a 12</td>
						</tr>
						<tr class=" h-50">
							<td class="fila h-50">Paseador</td>
							<td class="border-td-th h-50">Maria Dominguez</td>
							<td class="border-td-th h-50">Lucas Rodriguez</td>
							<td class="border-td-th h-50">Facundo Arias</td>
							<td class="border-td-th h-50">Lorena Martin</td>
							<td class="border-td-th h-50">Alicia Martinez</td>
							<td class="border-td-th h-50">Cristina Galian</td>
							<td class="border-td-th h-50">Ana Vega</td>
						</tr>
					</tbody>
				</table>
				
				<table class="tabla">
					<thead class="cabecera-tabla bg-info h-50 border-td-th">
						<tr class="">
							<th class="fila">Día</th>
							<th class="border-td-th">Lunes</th>
							<th class="border-td-th">Martes</th>
							<th class="border-td-th">Miercoles</th>
							<th class="border-td-th">Jueves</th>
							<th class="border-td-th">Viernes</th>
							<th class="border-td-th">Sabado</th>
							<th class="border-td-th">Domingo</th>
						</tr>
					</thead>
					<tbody class="body-tabla bg-success">
						<tr class="#">
							<td class="fila">Horario</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10<br>16 a 17</td>
							<td class="border-td-th h-50">9 a 10</td>
						</tr>
						<tr class="h-50">
							<td class="fila">Paseador</td>
							<td class="border-td-th h-50">Maria Dominguez</td>
							<td class="border-td-th h-50">Lucas Rodriguez</td>
							<td class="border-td-th h-50">Facundo Arias</td>
							<td class="border-td-th h-50">Lorena Martin</td>
							<td class="border-td-th h-50">Alicia Martinez</td>
							<td class="border-td-th h-50">Cristina Galian</td>
							<td class="border-td-th h-50">Ana Vega</td>
						</tr>
					</tbody>
				</table>
				<table class="tabla">
					<thead class="cabecera-tabla bg-info h-50 border-td-th">
						<tr class="">
							<th class="fila">Día</th>
							<th class="border-td-th">Lunes</th>
							<th class="border-td-th">Martes</th>
							<th class="border-td-th">Miercoles</th>
							<th class="border-td-th">Jueves</th>
							<th class="border-td-th">Viernes</th>
							<th class="border-td-th">Sabado</th>
							<th class="border-td-th">Domingo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="fila">Horario</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">10:30 a 11:30<br>17:30 a 18:30</td>
							<td class="border-td-th h-50">9 a 10</td>
						</tr>
						<tr>
							<td class="fila">Paseador</td>
							<td class="border-td-th h-50">Maria Dominguez</td>
							<td class="border-td-th h-50">Lucas Rodriguez</td>
							<td class="border-td-th h-50">Facundo Arias</td>
							<td class="border-td-th h-50">Lorena Martin</td>
							<td class="border-td-th h-50">Alicia Martinez</td>
							<td class="border-td-th h-50">Cristina Galian</td>
							<td class="border-td-th h-50">Ana Vega</td>
						</tr>
					</tbody>
				</table>
				<div class="contacto bg-secondary">
				<h2 class="">CONTACTO PARA RESERVAS: Cel 3886767980</h2>
			</div>
			</div>
		</main>
		<footer>
			<p>Portal de Mascotas - Av. General Belgrano 3915 - Teléfono
				(388) 4999999 S. S. de Jujuy República Argentina.</p>

			<p>Derechos Reservados 2023 - Tienda de Mascotas PUPPIS -
				Diseñado por Grupo 30 - Jujuy - Argentina</p>

		</footer>
	</div>
</body>
</html>
