<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<title>Servicio de Paseos - Tienda de Mascota Puppis</title>
	</head>
	<body>
		<div id="contenedor">
			<header th:replace="~{layouts/header :: header}"></header>
			<nav id="Menu-principal" th:replace="~{layouts/nav :: nav}"></nav>
			<div class="contenedor-boton"><a th:href="@{/servicio/nuevo}"><button type="button" class="boton-agregar">Agregar Servicio</button></a></div>
	        <section class="container-paseos content bg-success">
	        <h1 class="titulo-paseo bg-secondary mt-20">Servicios de Paseos</h1>
	        <table class="tabla">
	            <thead class="cabecera-tabla bg-info h-50 border-td-th">
		            <tr>
		            	<th class="border-td-th">Id</th>
		                <th class="border-td-th">Horarios</th>
		                <th class="border-td-th">Nombre y Apellido</th>
		                <th class="border-td-th">Día</th>
		                <th class="border-td-th">Acción</th>
		                
		             </tr>
	             </thead>
	             <tbody class="body-tabla bg-success">
		            <tr th:each="servicio : ${servicios}">
		            	<td th:text="${servicio.id}" class="border-td-th h-50"></td>
		                <td th:text="${servicio.fullTime}" class="border-td-th h-50"></td>
		                <td th:text="${servicio.fullName}" class="border-td-th h-50"></td>
		                <td th:text="${servicio.day}" class="border-td-th h-50"></td>
		                <td  class="border-td-th"><a th:href="@{/servicio/modificar/}+${servicio.id}"><button type="button" class="bt-add" >Editar</button></a><br/>
		                	<a th:href="@{/servicio/eliminar/}+${servicio.id}"><button type="button" class="bt-add" >Eliminar</button></a>
		                </td>
		                
		            </tr>
	             </tbody>
	       	</table>
	   	</section>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
	</body>
</html>
