<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<title>Sucursales - Tienda de Mascota Puppis</title>
	</head>
	<body>
		<div id="contenedor">
		
							<header th:replace="layouts/header :: header"></header>

							<nav id="Menu-principal" th:replace="layouts/nav :: nav"></nav>

			<main id="contenido-principal-sucursales">
				<div class="sucursales-h1">
					<h1>SUCURSALES</h1>
					<h1>¡ENCONTRA LA SUCURSAL MÁS CERCANA!</h1>
				</div>
				<div class="contenedor-de-sucursales">
					<ul class="#">
						<li><strong>CASA CENTRAL</strong><br> Av. General Belgrano
							Nº 3915<br> 388-4999999</li>
						<li><strong>SUCURSAL LAVALLE</strong><br> Lavalle Nº 222<br>
							388-4999998</li>
						<li><strong>SUCURSAL NECOCHEA</strong><br> Necochea Nº 440<br>
							388-4999997</li>
						<li><strong>SUCURSAL MERCADO</strong><br> José de la
							Iglesia Nº 1050<br> 388-4999996</li>
						<li><strong>SUCURSAL DORREGO</strong><br> Dorrego Nº 85<br>
							388-4999995</li>
						<li><strong>SUCURSAL SANTIAGO DEL ESTERO</strong><br>
							Santiago del Estero Nº 140<br> 388-4999994</li>
					</ul>
				</div>
			</main>
				
			<footer th:replace="layouts/footer :: footer">
			</footer>
		</div>
	</body>
</html>