<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Sucursales - Tienda de Mascota Puppis</title>
	</head>
	<body> 
		<h1>SUCURSALES</h1>
		<h1>¡ENCONTRA LA SUCURSAL MÁS CERCANA!</h1>
    	<ul>
	      <li>
	        <strong>CASA CENTRAL</strong><br>
	        Av. General Belgrano Nº 3915<br>
	        388-4999999
	      </li>
	      <li>
	        <strong>SUCURSAL LAVALLE</strong><br>
	        Lavalle Nº 222<br>
	        388-4999998
	      </li>
	      <li>
	        <strong>SUCURSAL NECOCHEA</strong><br>
	        Necochea Nº 440<br>
	        388-4999997
	      </li>
	      <li>
	        <strong>SUCURSAL MERCADO</strong><br>
	        José de la Iglesia Nº 1050<br>
	        388-4999996
	      </li>
	      <li>
	        <strong>SUCURSAL DORREGO</strong><br>
	        Dorrego Nº 85<br>
	        388-4999995
	      </li>
	      <li>
	        <strong>SUCURSAL SANTIAGO DEL ESTERO</strong><br>
	        Santiago del Estero Nº 140<br>
	        388-4999994
	      </li>
     	</ul>
     	<footer>
	    	<p>&copy 2023 - Tienda de Mascotas PUPPIS - Disenado por Grupo 30 - Jujuy - Argentina</p>
	    </footer>
	</body>
</html>