<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
</head>
<body>

	<header th:fragment="header">
		<div class="row">	
			<div class="col-2 col-sm-5 col-xl-4"></div>
			<div class="col-10 col-sm-7 col-xl-8 justify-content-end">
				<div class="row align-items-center" >
					<h1 class="text-center">TIENDA DE MASCOTAS PUPPIS</h1>
				</div>
				<div class="row justify-content-start">
				<p class="text-center">
					Envios a Domicilio sin Cargo.<br> Tanto de Alimentos para
					Mascotas como Accesorios y Farmacía.<br> Consulte Zonas de
					Envios
				</p>
				</div>
			</div>
		</div>
	</header>


</body>
</html>