<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
</head>
<body>
<nav th:fragment="nav">
<ul class="enlases-menu" >
				<li><a th:href="@{/inicio}" title="Ir a la pagina de Inicio">Principal</a></li>
				<li><a href="/productos" title="Ir a Producto">Productos</a></li>
				<li><a href="/consejo-salud" title="Ir a Consejo de Salud">Consejos de Salud</a></li>
				<li><a th:href="@{/servicio/listado}" title="Ir a Sevicio">Servicios</a></li>
				<li><a href="/sucursales" title="Ir a Sucursales">Sucursales</a></li>
				<li><a href="/contacto" title="Ir a Contacto">Contactanos</a></li>
			
			</ul>
</nav>

</body>
</html>