<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon color-collapse"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link " th:href="@{/inicio}">Principal</a>
        <a class="nav-link" th:href="@{/productos/listado}">Productos</a>
        <a class="nav-link" th:href="@{/consejo/listado}">Consejos de Salud</a>
        <a class="nav-link" th:href="@{/servicio/listado}">Servicios</a>
        <a class="nav-link" th:href="@{/sucursal/listado}" >Sucursales</a>
        <a class="nav-link" th:href="@{/contacto}">Contactanos</a>
        <a class="nav-link" th:href="@{/gestion}">Gestión de Datos</a>
               
      </div>
    </div>
  </div>
</nav>

</body>
</html>