<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
</head>
<body>
<nav th:fragment="nav">
<ul class="enlases-menu" >
				<li><a href="index.html" title="Ir a la pagina de Inicio">Principal</a></li>
				<li><a href="Productos.html" title="Ir a Producto">Productos</a></li>
				<li><a href="consejoDeSalud.html" title="Ir a Consejo de Salud">Consejos
						de Salud</a></li>
				<li><a href="servicioDePaseos.html"
					title="Ir a Sevicio de Paseo">Servicios de Paseos</a></li>
				<li><a href="sucursales.html" title="Ir a Sucursales">Sucursales</a></li>
				<li><a href="Contáctanos.html" title="Ir a Contacto">Contactanos</a></li>
			</ul>
</nav>

</body>
</html>