@charset "UTF-8";

/* estilo css de la pagina consejos de salud*/
#contenedor-consejos-salud {
	margin-top: 30px;
	text-align: justify;
	font-family: 'Heebo', sans-serif,fantasy;
	}

#contenedor-consejos-salud h2 {
	font-size: 35px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #6A5ACD;
}

#contenedor-consejos-salud h1{
	text-align: center;
	font-size: 50px;
	color: #8B0000;
	font-family: sans-serif ,inherit,cursive;
}

#contenedor-consejos-salud h3 {
	font-size: 30px;
	margin: 15px;
	text-align: center;
	color: #FA8072;
	
}

#contenedor-consejos-salud h4 {
	font-size: 25px;
	margin: 20px;
	text-align: center;
	color: #CD853F;
	
}

.foto-gato-consejo-salud {
	width: 70%;
	margin: auto;
	display: block;
}

#contenedor-consejos-salud article {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	display: block;
	border: 5px dashed black;
	background-color: #FFEFD5;
	
}

#contenedor-consejos-salud article p {
	margin: auto;
	margin-top: 15px;
	margin-bottom:20px;
	display: block;
	font-size: 20px;
	width: 80%;
}

#contenedor-consejos-salud article p strong {
	color: #FF4500;
	}
#contenedor-consejos-salud article ul {
	margin: auto;
	margin-bottom:10px;
	display: block;
	width: 80%;
	font-size: 20px;
}

#contenedor-consejos-salud article ul li strong {
	color: #008080;
}
