@charset "UTF-8";

/* Pagina donde se probo el menu es pagina consejos de salud*/
* {
	margin: 0px;
	padding: 0px;
}

#contenedor {
	margin: 40px;
}

header {
	background-image: url("../images/Logo-Puppis.jpg");
	width: 100%;
	height: 300px;
}

#Menu-principal {
	background-color: #FFFACD;
	font-size: 25px;
}

.enlases-menu a {
	text-decoration: none;
	color: #0000CD;
	
}

.enlases-menu a:hover {
	background-color: #4B0082;
	color: #F0FFF0;
}

.enlases-menu ul {
	list-style-type: none;
}

.enlases-menu li {
	display: inline;
	margin-right: 10px;
}




footer {
	width: 100%;
	background-color: fuchsia;
	text-align: center;
	margin-top: 20px;
	float: left;
	font-size: 20px;
}