@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#contenedor {
	margin: 20px;
}


/*---------HEADER------------*/
header {
	background-image: url("../images/Logo-Puppis.jpg");
	background-repeat:no-repeat;
	background-size:300px;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}

header h1{
	text-shadow: 1px 1px 2px black;
	padding-right:30px;
	padding-top:20px;
	color: orange;
	font-size:2.2rem;
width: 20rem;	
	
}

header p{
	padding: 5px;
	font-size:1rem;
	color: #092327;
width: 20rem;}


/*------------MENU------------------*/
nav {
	background-color: #092327;
	padding: 10px40px 10px 40px;
	height: 40px;
}



nav a {
	text-decoration: none;
	text-transform: uppercase; 
	color: orange !important;
	line-height: 25px;
}

.color-collapse{
	background-color:orangered;
}

nav  a:hover {
	background: orangered;
	color: white;
}

/*----------ConsejoDeSalud---------*/

#contenedor-consejos-salud {
	margin-top: 20px;
  	font-family: 'Heebo', sans-serif,fantasy;
}


.titulo-consejo {
	font-size: 25px;
	
	margin-top: 20px;
	margin-bottom: 20px;
	color: #6A5ACD;
}

.titulo-principal-consejo{
	text-align: center;
	font-size: 40px;
	color: #8B0000;
	font-family: sans-serif ,inherit,cursive;
}



.foto-gato-consejo-salud {
	width: 70%;
	margin: auto;
	display: block;
}



.parrafo-consejo {
	margin: auto;
	margin-top: 15px;
	margin-bottom:20px;
	display: block;
	font-size: 15px;
	text-align: justify;
	
	width: 90%;
}




/*--------------Boton de agregar-consejo---------------*/
/*  Boton de agregar-consejo.html */
.contenedor-boton {
	text-align: center;
}
.btn-consejos{
	width: 20%;
	border: none;
	padding: 15px;
	margin: 16px 0; 
}

.btn-nuevo-consejo{
	width: 100%;
	border: none;
	padding: 15px;
	margin: 16px 0;
}

/*--------------contactanos---------------*/
/*  formulario de Contactanos.html */
.form-register{
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
	
}

.form-register h3{
	font-size: 22px;
	margin-bottom: 20px;
	
}


.form-register p{
	height: 40px;
	text-align: center;
	font-size: 17px;
	line-height: 40px;
}


.form-register a{
	color: white;
	text-decoration: none;

}

.form-register a:hover{
	color: white;
	text-decoration: underline;
}

.form-register .botons {
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 15px;
	color: white;
	margin: 16px 0; 
}

.form-register .botons:active, .boton-agregar:active{
	background-color: #29962A;
}

.form-register .botons:hover, .boton-agregar:hover {
	background-color: #29962A;
}

.form-register input:hover {
	background-color: white;
	color: black;
}

.form-register textarea:hover {
	background-color: white;
	color: black;
}


/* inputs de Contactanos.html */
.controls{
	width: 100%;  /* tamaño de cajas */
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
	
}

.controls:hover{
	background-color: #ffffff;
	
}
/*-----------Index------------*/
.container-index{
	background:#DDD06A;
	height: 950px;
}

.seccion-index{
	background:#DDD06A;
	width: 80%;
    float:left;
}

.bg-image{
	width:100%;
	height:500px;
}
.titulo-h2{
	font-size:2rem;
	padding:0.5em;
	height:100px;
	text-align:center;
	color:black;
	border:solid #00B9E8; 
	background-color:#BEBFC5;
	margin-top: 40px;
}

.articulo-index{
	background:#FF8000;
	display:flex;
    flex-direction:column;
    width:30%;
    float:left;
    height:55%;
    min-height: 200px;
    margin: 12px;
    border: 2px solid lightgray;
    border-radius:0.5rem;
    cursor: default;
	
}

.titulo-body{
	padding:1em;
}
.titulo-body h3{
	font-family:sans-serif;
	text-align:center;
	font-size:1.5rem;
	margin:1em 0;
	font-weight:bold;
}
.titulo-body p{
	font-family:sans-serif;
	text-align:center;
	font-size:1rem;
}

.sitios-amigos{
	background:#DDD06A;
	width:20%;
	float:left;
	height:40.2%;
    min-height: 200px;
	text-align: left;
	margin-top:140px;
	padding-left: 20px;
}

.referencias h2{
	font-size:1.25rem;
	text-align:center;
}

.lista li{
	display:block;
	font-family:sans-serif;
	text-decoration:none;
}

.lista li a{
	text-decoration: none;
}

/*----------Productos---------*/

.contenedor-section{
    width: 100%;
    margin-top: 10px;
    float:left;
    display: flex;
    flex-wrap: wrap;
}

.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: 20%;
    min-height: 300px;
    margin: 20px;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    cursor: default;
}

.tarjeta:hover{
    box-shadow: 6px 6px 18px 8px #d3d3d3d1;
    transform: translateY(-3%);
}

.cuerpo{
  padding: 10px;
  text-align: center;
}

.cuerpo img{
    width: 100%;
}

.cuerpo p{
    font-size: larger;
}

.boton-compra{
  background: orange;
  border-radius:0 0 15px 15px;
  padding: 10px;
  color: black;
  font-size: large;
}

.boton-compra:hover{
    background: orangered;
    color: white;
  }
  
.boton-opcion{
	width:48%;
	background: #1f53c5;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	
}

.boton-opcion:hover{
	background-color: #29962A;
}

.controls-select{
	width: 100%;  /* tamaño de cajas */
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: black;
	
}
.controls-select:hover{
	background-color: white;
	
}
/*--------------------------------------CSS DE LA PAGINA SERVICIO--------------------------------------------------*/
/*Se utiliza bootstrap*/

/*------------sucursales--------------*/
#main-container {
  margin: 150px auto;
  width: 600px;
}

.tabla322 {
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.thead322 {
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

.tabla322 tr:hover td {
  background-color: #369681;
  color: white;
}

#contenido-principal-sucursales {
  margin: 50px auto;
  max-width: 100%;
  text-align: center;
}

.sucursales-h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #FF8D18;
  text-shadow: 2px 2px 3px #c0c0c0;
}

.sucursales-h1 h1:first-child {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sucursales-h1 h1:last-child {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.contenedor-de-sucursales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor-de-sucursales ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedor-de-sucursales li {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 0 10px #ff3e3e;
}

.contenedor-de-sucursales strong {
 	font-weight: bold;
}

.contenedor-de-sucursales li:last-child {
  	margin-bottom: 0;
}

.btn-add {
	width: 100%;
	background: #004d71;
	border: none;
	padding: 1px;
	color: white;
	margin: 1px 0; 
}

.btn-add:last-child {
  margin-bottom: 0;
}

.btn-add:hover{
    background: #f27900;
    color: white;
}

.btn-nueva-sucursal{
	width: 100%;
	background: #004d71;
	border: none;
	padding: 5px;
	color: white;
	margin: 16px 0;
}

.btn-nueva-sucursal:hover{
    background: #f27900;
    color: white;
}

/*------------FOOTER------------------*/
footer {
	width: 100%;
	padding:5px;
	background-color: #092327;
	color: white;
	text-align: center;
	margin-top: 20px;
	float: left;
	font-size: 15px;
}